# Feature engineering

### Extracting mean store sales and mean sales per region

In [2]:
import numpy as np 
import pandas as pd

In [17]:
df = pd.read_csv("dataset/enriched_train.csv")

In [63]:
mean = df.groupby('StoreID')['NumberOfSales'].mean()
def meanSales(value):
    return mean.iloc[value-1000]

df['MeanStoreSales'] = df.StoreID.apply(meanSales)

In [64]:
mean_reg = df.groupby('Region')['NumberOfSales'].mean()

In [65]:
def mean_sales_region(value):
    return mean_reg.iloc[value]

df['MeanRegionSales'] = df.Region.apply(mean_sales_region)

### Numerical day of week

In [4]:
df['Date'] = pd.to_datetime(df['Date'], errors='coerce')
df['day_of_week'] = df['Date'].dt.dayofweek

In [34]:
df.to_csv('./dataset/enriched_train.csv', index=False)

## Rearranging column order

In [13]:
cols = df.columns.tolist()
cols

['StoreID',
 'Date',
 'IsHoliday',
 'IsOpen',
 'HasPromotions',
 'StoreType',
 'AssortmentType',
 'NearestCompetitor',
 'Region',
 'NumberOfCustomers',
 'NumberOfSales',
 'Region_AreaKM2',
 'Region_GDP',
 'Region_PopulationK',
 'CloudCover',
 'Events',
 'Max_Dew_PointC',
 'Max_Humidity',
 'Max_Sea_Level_PressurehPa',
 'Max_TemperatureC',
 'Max_VisibilityKm',
 'Max_Wind_SpeedKm_h',
 'Mean_Dew_PointC',
 'Mean_Humidity',
 'Mean_Sea_Level_PressurehPa',
 'Mean_TemperatureC',
 'Mean_VisibilityKm',
 'Mean_Wind_SpeedKm_h',
 'Min_Dew_PointC',
 'Min_Humidity',
 'Min_Sea_Level_PressurehPa',
 'Min_TemperatureC',
 'Min_VisibilitykM',
 'Precipitationmm',
 'WindDirDegrees',
 'D_Day',
 'D_DayOfYear',
 'D_Month',
 'D_Year',
 't-14',
 't-7',
 't-1',
 't-2',
 't-9',
 't-8',
 't-6',
 't-15',
 't-21',
 't-13',
 't-20',
 'MeanStoreSales',
 'MeanRegionSales',
 'D_Day_of_week',
 'day_of_week']

In [14]:
cols = cols[:10]+cols[11:]+cols[10:11]
cols

['StoreID',
 'Date',
 'IsHoliday',
 'IsOpen',
 'HasPromotions',
 'StoreType',
 'AssortmentType',
 'NearestCompetitor',
 'Region',
 'NumberOfCustomers',
 'Region_AreaKM2',
 'Region_GDP',
 'Region_PopulationK',
 'CloudCover',
 'Events',
 'Max_Dew_PointC',
 'Max_Humidity',
 'Max_Sea_Level_PressurehPa',
 'Max_TemperatureC',
 'Max_VisibilityKm',
 'Max_Wind_SpeedKm_h',
 'Mean_Dew_PointC',
 'Mean_Humidity',
 'Mean_Sea_Level_PressurehPa',
 'Mean_TemperatureC',
 'Mean_VisibilityKm',
 'Mean_Wind_SpeedKm_h',
 'Min_Dew_PointC',
 'Min_Humidity',
 'Min_Sea_Level_PressurehPa',
 'Min_TemperatureC',
 'Min_VisibilitykM',
 'Precipitationmm',
 'WindDirDegrees',
 'D_Day',
 'D_DayOfYear',
 'D_Month',
 'D_Year',
 't-14',
 't-7',
 't-1',
 't-2',
 't-9',
 't-8',
 't-6',
 't-15',
 't-21',
 't-13',
 't-20',
 'MeanStoreSales',
 'MeanRegionSales',
 'D_Day_of_week',
 'day_of_week',
 'NumberOfSales']

In [28]:
cols.remove('NumberOfSales')

In [29]:
cols.append('NumberOfSales')

In [26]:
cols = cols[:-14]+cols[-3:]+cols[-14:-3]

In [31]:
df=df[cols]

In [32]:
df.head().T

,0,1,2,3,4
StoreID,1000,1000,1000,1000,1000
Date,2016-03-23,2016-03-24,2016-03-25,2016-03-26,2016-03-27
IsHoliday,0,0,0,0,0
IsOpen,1,1,1,1,0
HasPromotions,1,1,1,0,0
StoreType,Hyper Market,Hyper Market,Hyper Market,Hyper Market,Hyper Market
AssortmentType,General,General,General,General,General
NearestCompetitor,326,326,326,326,326
Region,7,7,7,7,7
NumberOfCustomers,541,626,625,511,622.769
Region_AreaKM2,9643,9643,9643,9643,9643
Region_GDP,17130,17130,17130,17130,17130
Region_PopulationK,2770,2770,2770,2770,2770
CloudCover,6,6,5,7,8
Events,Rain,Rain-Snow,None,None,None
Max_Dew_PointC,6,0,-1,-5,-10
Max_Humidity,100,87,93,64,48
Max_Sea_Level_PressurehPa,1012,1020,1020,1016,1016
Max_TemperatureC,9,5,7,3,6
Max_VisibilityKm,21,22,23,24,25
Max_Wind_SpeedKm_h,32,21,34,34,35
Mean_Dew_PointC,3,-2,-3,-7,-12
Mean_Humidity,89,71,61,52,34
Mean_Sea_Level_PressurehPa,1004,1017,1016,1015,1013
Mean_TemperatureC,5,3,3,1,2
Mean_VisibilityKm,21,22,23,24,25
Mean_Wind_SpeedKm_h,10,11,14,23,24
Min_Dew_PointC,-1,-4,-6,-10,-14
Min_Humidity,58,51,31,34,13
Min_Sea_Level_PressurehPa,1001,1012,1014,1014,1011
Min_TemperatureC,1,1,-1,-1,-2
Min_VisibilitykM,21,22,23,24,25
Precipitationmm,5.08,0,0,0,0
WindDirDegrees,191,331,59,67,59
D_Day,23,24,25,26,27
D_DayOfYear,83,84,85,86,87
D_Month,3,3,3,3,3
D_Day_of_week,2,3,4,5,6
D_Year,2016,2016,2016,2016,2016
MeanStoreSales,7682.75,7682.75,7682.75,7682.75,7682.75
MeanRegionSales,4698.57,4698.57,4698.57,4698.57,4698.57
t-14,8804,7823,7989,5895,7675.45
t-7,6014,6087,6962,6618,7675.45
t-1,8155,7109,8041,7890,6005
t-2,9183,8155,7109,8041,7890
t-9,6348,4738,6014,6087,6962
t-8,4738,6014,6087,6962,6618
t-6,6087,6962,6618,7675.45,9183
t-15,9019,8804,7823,7989,5895
t-21,5676,8111,8300,7154,7675.45
t-13,7823,7989,5895,7675.45,6348
t-20,8111,8300,7154,7675.45,10110
NumberOfSales,7109,8041,7890,6005,7675.45

In [33]:
df.shape

(523000, 53)