# RFR-XGB Ensemble

In [2]:
from import_man import *
from BIP_error import get_BIP_error

### XGB1_fake_test.csv

In [3]:
XGB = pd.read_csv("dataset/XGB5_fake_test.csv")
RFR = pd.read_csv("dataset/RFR5_fake_test.csv")

In [11]:
eXGB=get_BIP_error(XGB)

Number of regions identified: 11
BIP total error: 0.03555210606325022

In [12]:
eRFR=get_BIP_error(RFR)

Number of regions identified: 11
BIP total error: 0.01994952570584384

In [7]:
ens = XGB[['NumberOfSales','_NumberOfSales']]

In [8]:
ens['R_NumberOfSales']=RFR['_NumberOfSales']

In [13]:
ens['avg_NumberOfSales']=(ens['_NumberOfSales']+ens['R_NumberOfSales'])/2

In [14]:
ens.head(10)

   NumberOfSales  _NumberOfSales  R_NumberOfSales  avg_NumberOfSales
0    7675.446488       7022.6045      7490.974451        7256.789475
1    7675.446488       7611.0340      7763.644744        7687.339372
2   22672.000000       9851.0480     10773.052019       10312.050010
3   14802.000000      10709.7090     14598.420000       12654.064500
4   12014.000000       7942.7950     11132.761865        9537.778433
5   10630.000000       9434.3700      9708.532051        9571.451025
6   11578.000000       7931.2427      8473.249013        8202.245857
7    8361.000000       8063.2915      8293.975392        8178.633446
8    7675.446488       7534.3716      7598.847197        7566.609398
9    7480.000000       8028.1753      8065.344586        8046.759943

In [15]:
XGB['_NumberOfSales']=ens['avg_NumberOfSales']

In [16]:
eXGB=get_BIP_error(XGB)

Number of regions identified: 11
BIP total error: 0.02708040605347536

In [18]:
diff=XGB['NumberOfSales']-XGB['_NumberOfSales']

In [19]:
diff.head(15).T

0       418.657013
1       -11.892884
2     12359.949990
3      2147.935500
4      2476.221567
5      1058.548975
6      3375.754143
7       182.366554
8       108.837090
9      -566.759943
10     -866.582323
11     -475.476550
12      108.492085
13      218.602716
14     -448.875439
dtype: float64

In [20]:
diff.mean()

72.93308477933729

In [21]:
XGB['_NumberOfSales']=XGB['_NumberOfSales']+diff.mean()

In [22]:
eXGB=get_BIP_error(XGB)

Number of regions identified: 11
BIP total error: 0.02545195789816432