# RFR-XGB Ensemble

In [1]:
from import_man import *
from BIP import get_BIP_error

### XGB1_fake_test.csv

In [45]:
RFR = pd.read_csv("dataset/test4_53_Model_RFR_on_prep.csv")
XGB = pd.read_csv("dataset/test4_64_Model_XGBoost_final.csv")

In [46]:
#RFR = pd.read_csv("dataset/testsplit_53_Model_RFR_on_prep.csv")  #it sucks with these
#XGB = pd.read_csv("dataset/testsplit_63_Model_XGB.csv")

In [47]:
eXGB=get_BIP_error(XGB)

Number of regions identified: 11
BIP total error: 0.03288920541031862

In [48]:
eRFR=get_BIP_error(RFR)

Number of regions identified: 11
BIP total error: 0.033138669107561476

In [49]:
ens = XGB[['NumberOfSales','_NumberOfSales']]

In [50]:
ens['R_NumberOfSales']=RFR['_NumberOfSales']

In [51]:
ens['avg_NumberOfSales']=(ens['_NumberOfSales']+ens['R_NumberOfSales'])/2

In [52]:
ens.head(10)

   NumberOfSales  _NumberOfSales  R_NumberOfSales  avg_NumberOfSales
0          11820       8502.3940      8051.303070        8276.848535
1           4666       6347.5180      5563.693590        5955.605795
2           6761       6550.4536      5943.691278        6247.072439
3           7157       7096.4697      6963.448346        7029.959023
4           6923       5790.6760      7050.519640        6420.597820
5          11500       8826.3530     10606.079339        9716.216169
6           9436       8718.1120      9092.521002        8905.316501
7           8289       7669.7700      7967.146263        7818.458132
8           7728       7679.3520      7647.219678        7663.285839
9           8348       8060.9460      7606.233190        7833.589595

In [53]:
XGB['_NumberOfSales']=ens['avg_NumberOfSales']

In [54]:
eXGB=get_BIP_error(XGB)

Number of regions identified: 11
BIP total error: 0.03133979718107205

In [42]:
diff=XGB['NumberOfSales']-XGB['_NumberOfSales']

In [43]:
diff.head(15).T

0     -585.998953
1    -2636.350702
2    -1626.494000
3     1758.746015
4    -1692.656991
5     1493.822712
6      828.808868
7       10.517497
8      342.949727
9    -1478.591283
10    -307.084361
11     471.885101
12    -545.621622
13   -2049.687217
14    1217.571938
dtype: float64

In [44]:
diff.mean()

10.58845674090924

In [16]:
XGB['_NumberOfSales']=XGB['_NumberOfSales']+diff.mean()

In [17]:
eXGB=get_BIP_error(XGB)

Number of regions identified: 11
BIP total error: 0.03130438287471236