# Models ensemble by averaging

In general we saw that XGB overall is better (when sampling randomly train and test or in January and February tests), however, Random Forest error does not have a high variance and is better when predicting on March and April, thus we can do an average of the predicted number of sales of every Store in every day, leading to an overall result which is slightly better than the average of the 2 errors.

The other possiblity that we will evaluate is to do an average of the two predictions at a higher level, when we have already grouped by StoreID and Month, this could be even better if one of the model for instance tends to overestimate the predicted value and the over one underestimates it.

**NOTEBOOK GOAL**: Ensemble of models created by averaging the preditions

Averaged predictions:

- **1_RFR** - Notebook 5.3 Random forrest
- **2_XGB** - Notebook 6.4 XGBoost

In [1]:
# reoder variables to work on train or test dataset
predict_for_submission = True
#predict_for_submission = False

In [2]:
from import_man import *
import collections

from BIP import get_BIP_error, apply_BIP_submission_format

### Load predicted tests

**NOTE** If you cannot load the followig datasets, please go to the corresponding notebook and run it to generate the related dataset file.

In [3]:
dfs_dict = collections.OrderedDict()
# the following dataset will be evaluated

if predict_for_submission:
    dfs_dict['RFR'] = pd.read_csv('./dataset/submission_53_RFR_on_prep.csv')
    dfs_dict['XGB'] = pd.read_csv('./dataset/submission_64_XGBoost_final.csv')
else:
    months='m12'
    dfs_dict['RFR'] = pd.read_csv('./dataset/test_' + months + '_53_RFR_on_prep.csv')
    dfs_dict['XGB'] = pd.read_csv('./dataset/test_' + months + '_64_Model_XGBoost_final.csv')

In [4]:
list(dfs_dict.values())[0].head().T

,0,1,2,3,4
StoreID,1000,1000,1000,1000,1000
Date,01/03/2018,02/03/2018,03/03/2018,05/03/2018,06/03/2018
IsHoliday,0,0,0,0,0
HasPromotions,0,0,0,1,1
NearestCompetitor,326,326,326,326,326
Region,7,7,7,7,7
Region_AreaKM2,9643,9643,9643,9643,9643
Region_GDP,17130,17130,17130,17130,17130
Region_PopulationK,2770,2770,2770,2770,2770
CloudCover,6,7,2,4,4
D_Day,1,2,3,5,6
D_DayOfYear,60,61,62,64,65
D_Month,3,3,3,3,3
D_Year,2018,2018,2018,2018,2018
StoreType_SuperMarket,0,0,0,0,0
StoreType_HyperMarket,1,1,1,1,1
StoreType_StandardMarket,0,0,0,0,0
StoreType_ShoppingCenter,0,0,0,0,0
AssortmentType_General,1,1,1,1,1
AssortmentType_WithNFDept,0,0,0,0,0
AssortmentType_WithFishDept,0,0,0,0,0
MeanStoreSales,7675.45,7675.45,7675.45,7675.45,7675.45
MeanRegionSales,4702.75,4702.75,4702.75,4702.75,4702.75
MeanCustomers,622.769,622.769,622.769,622.769,622.769
MeanRegionCustomers,284.209,284.209,284.209,284.209,284.209
D_DayOfWeek_cos,-0.900969,-0.900969,-0.222521,1,0.62349
D_DayOfWeek_sin,0.433884,-0.433884,-0.974928,0,0.781831
p1,-1.95675e-05,0.00236037,-0.00776508,-0.00582306,-0.00423117
p2,-0.00136897,0.00820696,-0.00295278,0.00949401,0.00114206
p3,-0.00289002,-0.00305216,0.00649261,-0.0061549,-0.00421621
p4,-0.000325059,-0.0077942,-0.00337713,-0.00738793,0.000262156
p5,0.00756209,0.00687255,0.00793249,0.00697375,0.00731358
p6,0.000579241,0.00926433,0.00155024,-0.00266222,0.00193581
p7,-0.000524061,-0.0118993,-0.00077318,0.0110218,-0.00131538
p8,-0.00372957,0.0022624,-0.00617315,0.00103412,-0.00342739
p9,-0.00231359,-0.000430887,0.00288671,0.00504399,0.00107759
p10,-0.00307665,-0.0037224,-0.00114436,0.000445709,0.00161768
p11,0.000965284,-0.0011081,-0.000484339,0.00380644,3.03418e-05
p12,-0.000301533,0.000716785,-0.00264839,0.00160543,-0.00386671
_NumberOfSales,6891.14,7898.86,7439.1,11646.8,9019.86

In [5]:
# let's apply the apply_BIP_submission_format to all the dataframes
if predict_for_submission:
    for mdl_lbl, df in dfs_dict.items():
        dfs_dict[mdl_lbl] = apply_BIP_submission_format(df,real_submit=True)
else:
    for mdl_lbl, df in dfs_dict.items():
        dfs_dict[mdl_lbl] = apply_BIP_submission_format(df)

We decided to work with the average of the already summed up value because it reduces more the error

In [6]:
# make a copy of the first dataframe in order to use it as data structure
df_ens = list(dfs_dict.values())[0].copy()
df_ens['NumberOfSales'] = 0

In [7]:
stores_to_spot = [1000, 1245, 1300, 1301] 

# Let's spot some random rows in order to prove that the average works correctly
if predict_for_submission:
    for mdl_lbl, df in dfs_dict.items():
        print('................................ ' + mdl_lbl + '................................')
        print(df.loc[df.StoreID.isin(stores_to_spot)][['StoreID', 'NumberOfSales']].head(40))
else:
    for mdl_lbl, df in dfs_dict.items():
        print('................................ ' + mdl_lbl + '................................')
        print(df.loc[df.StoreID.isin(stores_to_spot)][['StoreID', 'Target', 'NumberOfSales']].head(40))

................................ RFR................................
     StoreID  NumberOfSales
0       1000         204626
1       1000         187505
490     1245         154612
491     1245         143209
600     1300         129118
601     1300         113058
602     1301         143762
603     1301         124598
................................ XGB................................
     StoreID  NumberOfSales
0       1000         180432
1       1000         170315
490     1245         140838
491     1245         134201
600     1300         111343
601     1300         104699
602     1301         128675
603     1301         121613

In [8]:
if predict_for_submission:
    print(df_ens[['StoreID', 'NumberOfSales']].head())
else:
    print(df_ens[['StoreID', 'Target', 'NumberOfSales']].head())

   StoreID  NumberOfSales
0     1000              0
1     1000              0
2     1001              0
3     1001              0
4     1002              0

In [9]:
# sum up all
for mdl_lbl, df in dfs_dict.items():
    df_ens['NumberOfSales'] += df['NumberOfSales']

# divide by their number
df_ens['NumberOfSales'] /= len(dfs_dict)

if predict_for_submission:
    print(df_ens.loc[df_ens.StoreID.isin(stores_to_spot)][['StoreID', 'NumberOfSales']].head(40))
else:
    print(df_ens.loc[df_ens.StoreID.isin(stores_to_spot)][['StoreID', 'Target', 'NumberOfSales']].head(40))

     StoreID  NumberOfSales
0       1000       192529.0
1       1000       178910.0
490     1245       147725.0
491     1245       138705.0
600     1300       120230.5
601     1300       108878.5
602     1301       136218.5
603     1301       123105.5

## Write to file

In [10]:
if predict_for_submission:
    df_ens.to_csv('./dataset/submission_82_Ensemble_average.csv', index=False)
else:
    df_ens.to_csv('./dataset/test_' + months + '_82_Ensemble_average.csv', index=False)