# Create submission test

**NOTEBOOK GOAL**: Create the dataset with predictions to be submitted.


Used model for the submission:

> **4_ENS_AVG** - Notebook 8.2 Ensamble by averaging all the previous models

In [1]:
from import_man import *
import collections

from BIP import apply_BIP_submission_format

### Load test dataset with predictions

**NOTE** To load the followig dataset, please go to the corresponding notebook and run it (test mode) to generate the related dataset file.

In [2]:
# dataset to use to create the one for the submission
df = pd.read_csv('./dataset/test_m34_53_RFR_on_prep.csv')

In [3]:
df.head()

,StoreID,Date,IsHoliday,HasPromotions,NearestCompetitor,Region,NumberOfSales,Region_AreaKM2,Region_GDP,Region_PopulationK,...,p4,p5,p6,p7,p8,p9,p10,p11,p12,_NumberOfSales
0,1000,01/03/2017,0,0,326,7,5509,9643,17130,2770,...,0.001911,0.002268,0.000889,0.000052,-0.000992,-0.000124,-0.000808,-0.000501,0.000075,6717.386138
1,1000,02/03/2017,0,0,326,7,5881,9643,17130,2770,...,0.002070,0.002234,0.001760,-0.000015,-0.000700,0.000316,-0.000881,-0.000139,0.000136,7544.285462
2,1000,03/03/2017,0,0,326,7,8463,9643,17130,2770,...,-0.000779,0.002211,0.000456,-0.000833,-0.000546,-0.000316,-0.000455,-0.000162,-0.000145,7903.392718
3,1000,04/03/2017,0,0,326,7,8146,9643,17130,2770,...,0.001901,0.002251,0.000720,-0.000274,-0.001242,-0.000021,-0.000516,-0.000457,0.000222,7552.663643
4,1000,06/03/2017,0,1,326,7,11306,9643,17130,2770,...,-0.000472,0.002208,0.000525,-0.001188,-0.000629,-0.000746,-0.000432,0.000514,0.000050,10891.215792

In [4]:
years = df.D_Year.unique()

In [5]:
# let's be sure that the year is only one
assert(len(years) == 1)

In [6]:
# let's be sure that the year is 2018
assert(years[0] == 2018)

In [7]:
# apply the submission format
df = apply_BIP_submission_format(df, real_submit=True)

In [8]:
df.head(10)

   StoreID  Month  NumberOfSales
0     1000      3       160372.0
1     1000      4       169595.0
2     1001      3        85432.0
3     1001      4        76490.0
4     1002      3       132051.0
5     1002      4       118297.0
6     1003      3       139848.0
7     1003      4       120187.0
8     1004      3       106425.0
9     1004      4        92879.0

In [9]:
df.to_csv('./dataset/submission_893784.csv', index=False)