# Create submission test

**NOTEBOOK GOAL**: Create the dataset with predictions to be submitted.


Used model for the submission:

> **3_ENS_AVG** - Notebook 8.2 Ensemble by averaging all the previous models

In [1]:
from import_man import *
import collections

from BIP import apply_BIP_submission_format

### Load test dataset with predictions

**NOTE** To load the followig dataset, please go to the corresponding notebook and run it (test mode) to generate the related dataset file.

In [2]:
# dataset to use to create the one for the submission
df = pd.read_csv('./dataset/submission_82_Ensemble_average.csv')

In [3]:
df.head()

   StoreID        Date  IsHoliday  HasPromotions  NearestCompetitor  Region  \
0     1000  01/03/2018          0              0                326       7
1     1000  02/03/2018          0              0                326       7
2     1000  03/03/2018          0              0                326       7
3     1000  05/03/2018          0              1                326       7
4     1000  06/03/2018          0              1                326       7

   Region_AreaKM2  Region_GDP  Region_PopulationK  CloudCover       ...        \
0            9643       17130                2770         6.0       ...
1            9643       17130                2770         7.0       ...
2            9643       17130                2770         2.0       ...
3            9643       17130                2770         4.0       ...
4            9643       17130                2770         4.0       ...

         p4        p5        p6        p7        p8        p9       p10  \
0 -0.000325  0.007562  0.000579 -0.000524 -0.003730 -0.002314 -0.003077
1 -0.007794  0.006873  0.009264 -0.011899  0.002262 -0.000431 -0.003722
2 -0.003377  0.007932  0.001550 -0.000773 -0.006173  0.002887 -0.001144
3 -0.007388  0.006974 -0.002662  0.011022  0.001034  0.005044  0.000446
4  0.000262  0.007314  0.001936 -0.001315 -0.003427  0.001078  0.001618

        p11       p12  _NumberOfSales
0  0.000965 -0.000302     6779.759111
1 -0.001108  0.000717     8133.786672
2 -0.000484 -0.002648     7419.151292
3  0.003806  0.001605    11797.140114
4  0.000030 -0.003867     9066.789917

[5 rows x 40 columns]

In [4]:
df.shape

(1498, 3)

### Year check

In [5]:
#years = df.D_Year.unique()

In [6]:
# let's be sure that the year is only one
#assert(len(years) == 1)

In [7]:
# let's be sure that the year is 2018
#assert(years[0] == 2018)

### Months check

In [8]:
months = df.Month.unique()

In [9]:
# let's be sure that the month are exactly 2
assert(len(months) == 2)

In [10]:
# let's be sure that the year is 2018
assert(sorted(months) == [3, 4])

### Apply submission format

In [11]:
df['NumberOfSales'] = pd.to_numeric(df['NumberOfSales'].round(), downcast='integer')

In [12]:
# apply the submission format
#df = apply_BIP_submission_format(df, real_submit=True)

In [13]:
df.head(10)

   StoreID  Month  NumberOfSales
0     1000      3         192529
1     1000      4         178910
2     1001      3          80387
3     1001      4          71954
4     1002      3         126958
5     1002      4         116969
6     1003      3         135863
7     1003      4         127633
8     1004      3         100760
9     1004      4          94216

In [14]:
df.NumberOfSales.sum()

175849540

### Write to file

In [15]:
df.to_csv('./dataset/submission_893784.csv', index=False)