Process to add a column with a processed value.

M = average(NumberOfSales)
sales_normlz = (NumberOfSales-M)/M

In [33]:
from dataset_features import numerical
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_csv('./dataset/train.csv')
# reduce dataset size to speed up computation

df = df[df.index<100]

df.head()

,StoreID,Date,IsHoliday,IsOpen,HasPromotions,StoreType,AssortmentType,NearestCompetitor,Region,NumberOfCustomers,...,Mean_TemperatureC,Mean_VisibilityKm,Mean_Wind_SpeedKm_h,Min_Dew_PointC,Min_Humidity,Min_Sea_Level_PressurehPa,Min_TemperatureC,Min_VisibilitykM,Precipitationmm,WindDirDegrees
0,1000,01/03/2016,0,1,0,Hyper Market,General,326,7,495,...,1,11.0,16,-2,70,1029,1,6.0,0.0,23
1,1000,02/03/2016,0,1,0,Hyper Market,General,326,7,608,...,3,13.0,10,-2,58,1025,1,10.0,0.0,56
2,1000,04/03/2016,0,1,0,Hyper Market,General,326,7,665,...,3,11.0,10,-3,55,1023,2,8.0,0.0,22
3,1000,05/03/2016,0,1,0,Hyper Market,General,326,7,630,...,3,15.0,10,-6,25,1022,-1,10.0,0.0,108
4,1000,06/03/2016,0,0,0,Hyper Market,General,326,7,0,...,1,12.0,5,-6,48,1022,-5,5.0,0.0,46

In [35]:
df = df[numerical]
df.head()

,Max_Humidity,CloudCover,Region_PopulationK,NumberOfCustomers,Max_Sea_Level_PressurehPa,Mean_Sea_Level_PressurehPa,Min_Dew_PointC,NumberOfSales,Max_TemperatureC,Min_Sea_Level_PressurehPa,...,Mean_Dew_PointC,Min_Humidity,Min_VisibilitykM,Max_Wind_SpeedKm_h,Mean_VisibilityKm,Max_Gust_SpeedKm_h,Mean_TemperatureC,WindDirDegrees,Min_TemperatureC,Mean_Wind_SpeedKm_h
0,100,8.0,2770,495,1032,1030,-2,5676,2,1029,...,-1,70,6.0,21,11.0,NaN,1,23,1,16
1,87,8.0,2770,608,1030,1027,-2,8111,5,1025,...,-1,58,10.0,16,13.0,NaN,3,56,1,10
2,81,8.0,2770,665,1026,1024,-3,8300,4,1023,...,-1,55,8.0,23,11.0,NaN,3,22,2,10
3,80,6.0,2770,630,1027,1024,-6,7154,8,1022,...,-4,25,10.0,19,15.0,NaN,3,108,-1,10
4,93,6.0,2770,0,1025,1023,-6,0,7,1022,...,-3,48,5.0,16,12.0,NaN,1,46,-5,5

In [36]:
df.describe()

,Max_Humidity,CloudCover,Region_PopulationK,NumberOfCustomers,Max_Sea_Level_PressurehPa,Mean_Sea_Level_PressurehPa,Min_Dew_PointC,NumberOfSales,Max_TemperatureC,Min_Sea_Level_PressurehPa,...,Mean_Dew_PointC,Min_Humidity,Min_VisibilitykM,Max_Wind_SpeedKm_h,Mean_VisibilityKm,Max_Gust_SpeedKm_h,Mean_TemperatureC,WindDirDegrees,Min_TemperatureC,Mean_Wind_SpeedKm_h
count,100.000000,96.000000,100.0,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,...,100.000000,100.000000,100.000000,100.000000,100.000000,43.000000,100.000000,100.000000,100.000000,100.000000
mean,88.850000,5.583333,2770.0,501.410000,1015.830000,1012.640000,0.510000,6167.940000,13.060000,1010.150000,...,3.110000,39.230000,8.360000,24.140000,12.740000,43.674419,8.830000,143.520000,4.760000,12.400000
std,12.669358,1.600439,0.0,263.001751,7.535847,7.723139,6.280473,3385.587465,6.738732,7.862936,...,6.250487,16.032073,3.674977,6.733033,3.860235,8.906180,5.966328,99.443856,5.649922,4.746078
min,48.000000,1.000000,2770.0,0.000000,997.000000,995.000000,-14.000000,0.000000,-3.000000,993.000000,...,-12.000000,13.000000,0.000000,13.000000,3.000000,27.000000,-4.000000,10.000000,-11.000000,5.000000
25%,82.000000,5.000000,2770.0,511.000000,1010.000000,1007.750000,-4.000000,5805.250000,7.000000,1005.000000,...,-2.000000,26.750000,6.000000,19.000000,11.000000,37.000000,3.000000,41.750000,-1.000000,10.000000
50%,93.000000,6.000000,2770.0,604.000000,1015.500000,1012.500000,2.500000,7024.000000,13.500000,1010.000000,...,5.000000,34.500000,10.000000,23.500000,12.000000,42.000000,10.000000,178.000000,7.000000,11.000000
75%,100.000000,6.000000,2770.0,658.750000,1022.000000,1018.250000,5.250000,8363.000000,18.000000,1016.000000,...,8.000000,52.000000,10.000000,29.000000,13.250000,50.000000,14.000000,221.500000,9.000000,16.000000
max,100.000000,8.000000,2770.0,851.000000,1032.000000,1030.000000,11.000000,11960.000000,26.000000,1029.000000,...,13.000000,81.000000,26.000000,42.000000,28.000000,64.000000,19.000000,347.000000,15.000000,24.000000

In [43]:
sales_mean = df['NumberOfSales'].mean()

In [44]:
df['sales_nrmlz'] = df.apply(lambda x: (x['NumberOfSales'] - sales_mean) / sales_mean, axis=1)

In [45]:
df.head()

,Max_Humidity,CloudCover,Region_PopulationK,NumberOfCustomers,Max_Sea_Level_PressurehPa,Mean_Sea_Level_PressurehPa,Min_Dew_PointC,NumberOfSales,Max_TemperatureC,Min_Sea_Level_PressurehPa,...,Min_Humidity,Min_VisibilitykM,Max_Wind_SpeedKm_h,Mean_VisibilityKm,Max_Gust_SpeedKm_h,Mean_TemperatureC,WindDirDegrees,Min_TemperatureC,Mean_Wind_SpeedKm_h,sales_nrmlz
0,100,8.0,2770,495,1032,1030,-2,5676,2,1029,...,70,6.0,21,11.0,NaN,1,23,1,16,-0.079758
1,87,8.0,2770,608,1030,1027,-2,8111,5,1025,...,58,10.0,16,13.0,NaN,3,56,1,10,0.315026
2,81,8.0,2770,665,1026,1024,-3,8300,4,1023,...,55,8.0,23,11.0,NaN,3,22,2,10,0.345668
3,80,6.0,2770,630,1027,1024,-6,7154,8,1022,...,25,10.0,19,15.0,NaN,3,108,-1,10,0.159869
4,93,6.0,2770,0,1025,1023,-6,0,7,1022,...,48,5.0,16,12.0,NaN,1,46,-5,5,-1.000000